openapi: '3.1.0'
info:
  title: "E-Commerce API"
  version: "1.0.0"
servers:
  - url: http://localhost:3000/api
paths:
  /products:
    get:
      summary: List all products
      responses:
        '200':
          description: OK
          
        
